security:
    encoders:
        Xanadu\SeguridadBundle\Entity\Usuarios:
            algorithm: sha1
            encode_as_base64: false
            iterations: 1

    role_hierarchy:
        ROLE_ADMIN:       ROLE_USER
        ROLE_SUPER_ADMIN: [ROLE_USER, ROLE_ADMIN, ROLE_ALLOWED_TO_SWITCH]

    providers:
        administrators:
            entity: { class: XanaduSeguridadBundle:Usuarios }

    firewalls:
        area_segura:
            pattern:    ^/
            form_login:
                login_path:  login
                check_path:  login_check
                default_target_path: /admin
            anonymous:
            logout:
                target: login
            #anonymous: ~
            #http_basic:
            #    realm: "Secured Demo Area"

    access_control:
        - { path: ^/admin, roles: ROLE_USER }
        - { path: ^/seguridad, roles: ROLE_USER }
        #- { path: ^/login, roles: IS_AUTHENTICATED_ANONYMOUSLY, requires_channel: https }
